.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  top: 10px;
}
.card-body {
  background: #b0e9f4;
}

.welcome {
  font-weight: 700;
  text-align: center;
}
.goat {
  display: block;
  margin: 10px auto;
  padding: 10px auto;
  text-align: center;
}

#forgotPassword {
  border-radius: 30px;
  font-size: 12px;
  margin: 10px auto;
  padding: 20px auto;
  border: 1px #fff;
}

.hello {
  font-weight: 700;
  position: relative;
  right: 5px;
}

.moneyAmt {
  list-style: none;
  padding: 0 auto;
  position: relative;
  right: 35px;
}
li {
  margin: 10px auto;
}

.pie {
  position: relative;
  bottom: 10px;
  left: 50px;
}
.rowFirst {
  margin: 20px auto;
  text-align: center;
}

.rowSecond {
  margin: 20px auto;
  text-align: center;
}
.investVid {
  margin: 10px auto;
  padding: 10px auto;
  display: block;
  text-align: center;
}

.tips {
  margin: 10px;
  text-align: center;
}
